{% extends "base.html" %}

{% block content %}
  <div class="page-header"><h1>{{ film.title }} <small>{{ film.project }}</small></h1></div>

  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th>Film</th><td>{{ film.brand }} {{ film.filmName }}</td>
        <th>Size</th><td> {{ film.filmSize }}</td>
        <th>ISO</th><td>{{ film.filmISO }}, shot at {{ film.shotISO }}</td>
      </tr>
      <tr>
        <th>Camera</th><td>{{ film.camera }}</td>
        <th>File Date</th><td>{{ film.fileDate }}</td>
        <th>File No</th><td>{{ film.fileNo }}</td>
      </tr>
      <tr>
        <th>Development</th><td colspan="5">{{ film.development }}</td>
      </tr>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Exposures</strong></div>
    <table class="table table-striped table-bordered" id="exposures">
      <tr>
        <th>Number</th>
        <th>Shutter</th>
        <th>Aperture</th>
        <th>Lens</th>
        <th>Filters</th>
        <th>Notes</th>
      </tr>
      {% for exposure in exposures %}
        <tr>
          <td>{{ exposure.exposureNumber }}</td>
          {# If shutter is larger than 0, consider it to be faster than 1 second
             (e.g. 1/125). If it's zero, consider it a Bulb where the exact
             speed is not known. If it's negative, the exposure is in seconds.
          #}
          <td>
            {% if exposure.shutter > 0 %}
              1/{{ exposure.shutter }}
            {% elif exposure.shutter == 0 %}
              B
            {% else %}
              {{ exposure.shutter|abs }}"
            {% endif %}
          </td>
          <td>{{ exposure.fStop }}</td>
          <td>Lens</td>
          <td>
            {% for filter in exposure.filters %}
              {{ filter.code }}
            {% endfor %}
          </td>
          <td>Notes</td>
        </tr>
      {% endfor %}
    </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Add Exposure</div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <div class="col-sm-2">
          <label>Exposure #</label>
          <input type="text" class="form-control" placeholder="Exposure #" name="exposureNumber" aria-describedby="Exposure Number">
        </div>
        <div class="col-sm-2">
          <label>Shutter</label>
          <input type="text" class="form-control" placeholder="Shutter" name="shutter" aria-describedby="Shutter">
        </div>
        <div class="col-sm-2">
          <label>Aperture</label>
          <input type="text" class="form-control" placeholder="Aperture" name="aperture" aria-describedby="Aperture">
        </div>
        <div class="col-sm-2">
          <label>Filters</label><br />
          <input type="checkbox" name="filters" value="1"> CP<br />
          <input type="checkbox" name="filters" value="2"> UV<br />
          <input type="checkbox" name="filters" value="3"> Yellow 8<br />
          <input type="checkbox" name="filters" value="4"> Red 25<br />
        </div>
        <div class="col-sm-4">
          <label>Notes</label><br />
          <input type="text" class="form-control" placeholder="Notes" name="notes" aria-describedby="Notes">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="button-bar">
        <button class="btn btn-success" action="submit">Save</button>
      </div>
    </div>
  </form>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Notes</div>
  {{ film.notes }}
</div>
{% endblock %}
