{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">Filters</h1>
  <table class="table table-striped table-bordered" id="projects">
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Filter Factor</th>
    </tr>
    {% for filter in filters %}
        <tr>
            <td>{{ filter.name }}</td>
            <td>{{ filter.code }}</td>
            <td>{{ filter.factor }}</td>
        </tr>
    {% else %}
      <tr><td colspan="2">No Filters Found</td></tr>
    {% endfor %}
  </table>

{% endblock %}
