{% extends "base.html" %}

{% block scripts %}
<script src="/static/include/chart/Chart.bundle.min.js"></script>
<script src="/static/js/films/test.js"></script>
{% endblock %}

{% block content %}
<div class="row">
{% include "films/sidebar.html" %}
<div class="col-md-10 main">
  <h1 class="page-header" id="name"></h1>

  <h3>H&D Curve</h3>
  <div>
    <canvas id="hdCurve" width="400" height="200"></canvas>
  </div>
  <br />

  <h3>Test</h3>
  <ul>
    <li><strong>Tested On:</strong> <span id="testedOn"></span></li>
    <li><strong>Film Size:</strong> <span id="filmSize"></span></li>
    <li><strong>Developer:</strong> <span id="developer"></span></li>
    <li><strong>Development Time:</strong> <span id="devTime"></span></li>
    <li><strong>Lux:</strong> <span id="lux"></span></li>
    <li><strong>Exposure Time:</strong> <span id="exposureTime"></span></li>
    <li><strong>Base Fog:</strong> <span id="baseFog"></span></li>
    <li><strong>dMax:</strong> <span id="dMax"></span></li>
    <li><strong>Gamma:</strong> <span id="gamma"></span></li>
    <li><strong>Contrast Index:</strong> <span id="contrastIndex"></span></li>
    <li><strong>Kodak ISO:</strong> <span id="kodakISO"></span></li>
    <li><strong>Show Graph:</strong> <span id="graph"></span></li>
  </ul>

  <div id="notesDiv" hidden>
    <h3>Notes</h3>
    <div><pre><span id="notes"></span></pre></div>
  </div>

  <h3>Steps</h3>
  <div class="card">
    <form method="post" action="#" id="stepsForm">
    <table class="table table-striped table-bordered" id="films">
      <thead class="thead-light">
        <tr>
          <th>Step Number</th>
          <th>Log<sub>e</sub></th>
          <th>Film Density</th>
        </tr>
      </thead>
      <tbody id="stepsTableBody"></tbody>
    </table>
    <div class="button-bar">
        <button class="btn btn-success" type="submit">Update</button>
        <br />
        <br />
    </div>
    </form>
  </div>
  <br /><br />
  <div class="card">
    <div class="card-header"><strong>Results</strong></div>
    <div class="card-body">
      <form method="post" action="#" id="testResultsForm">
        <div class="form-group row">
          <div class="col-sm-2">
            <label for="baseFogInput">Base Fog</label>
             <input id="baseFogInput" type="number" class="form-control"
                   min="0" max="9" step="0.01" placeholder="0.05" />
          </div>
          <div class="col-sm-2">
            <label for="dMaxInput">dMax</label>
             <input id="dMaxInput" type="number" class="form-control"
                   min="0" max="9" step="0.01" placeholder="2.00" />
          </div>
          <div class="col-sm-2">
            <label for="gammaInput">Gamma</label>
             <input id="gammaInput" type="number" class="form-control"
                   min="0" max="9" step="0.01" placeholder="0.62" />
          </div>
          <div class="col-sm-2">
            <label for="contrastIndexInput">Contrast Index</label>
             <input id="contrastIndexInput" type="number" class="form-control"
                   min="0" max="9" step="0.01" placeholder="0.56" />
          </div>
          <div class="col-sm-2">
             <label for="kodakISOInput">Kodak ISO</label>
             <input id="kodakISOInput" type="number" class="form-control"
                   min="0" max="65535" step="1" placeholder="320" />
          </div>
        </div>
        <div class="button-bar">
            <button id="testResultsButton" class="btn btn-success" type="submit">Update</button>
            <br />
            <br />
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
{% endblock %}
