{% extends "base.html" %}

{% block content %}

  {% include 'film/film_details.html' %}

  {% if contactSheet %}
  <div class="card">
    <div class="flexrow">
      <div class="col-sm-6 panel">
        <br />
        <table class="table table-bordered" id="contact_sheet_details">
          <tr>
            <th>Paper</th>
            <td>
              {% if contactSheet.paperName %}
                {{ contactSheet.paperBrand }} {{ contactSheet.paperName }}
              {% else %}
                Unknown
              {% endif %}
            </td>
          </tr>
          <tr><th>Filter</th><td>{{ contactSheet.paperFilterName }}</td></tr>
          <tr><th>F-stop</th><td>{{ contactSheet.aperture }}</td></tr>
          <tr>
              <th>Height</th>
              <td>
                {% if contactSheet.headHeight %}
                  {{ contactSheet.headHeight }}
                {% else %}
                  Unknown
                {% endif %}
              </td>
          </tr>
          <tr><th>Time</th><td>{{ contactSheet.exposureTime }}</td></tr>
        </table>
      </div>
      <div class="col-sm-6 panel">
        <br />
        <a href="/files/full/{{ contactSheet.fileID }}">
          <img src="/files/thumb/{{ contactSheet.fileID }}" />
        </a>
      </div>
    </div>
    <div class="col-sm-12 mt-2">
        <table class="table table-bordered" id="contact_sheet_notes">
          <tr><th>Notes</th></tr>
          <tr><td>{{ contactSheet.notes }}</td></tr>
        </table>
    </div>
  </div>
  {% endif %}

<br />

<div class="card">
  <div class="card-header">Upload Contact Sheet</div>
  <div class="card-body">
    <form role="form" class="form-horizontal"
      action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/contactsheet"
      method="POST",
      enctype=multipart/form-data>
      <div class="form-group row">
        <div class="col-sm-6">
          <label>Paper</label>
          <select class="form-control" name="paperID">
              <option value=''>Select Paper</option>
              {% for paper in papers %}
                <option value="{{ paper.paperID }}">{{ paper.brandName }} {{ paper.paperName }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-sm-6">
          <label>Filter</label>
          <select class="form-control" name="paperFilterID">
              <option value=''>Select Filter</option>
              {% for filter in filters %}
                <option value="{{ filter.paperFilterID }}">{{ filter.name }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label>Aperture</label>
          <input class="form-control" type="text" name="aperture" placeholder="2.8">
        </div>
        <div class="col-sm-4">
          <label>Head Height</label>
          <input class="form-control" type="text" name="headHeight" placeholder="30">
        </div>
        <div class="col-sm-4">
          <label>Exposure Time</label>
          <input class="form-control" type="text" name="exposureTime" placeholder="0:30">
        </div>
      </div>
    <div class="form-group row">
        <div class="col-sm-12">
          <label>Notes</label>
          <textarea class="form-control" name=notes rows=3 cols=80 placeholder="Notes"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
          <label>File (JPG)</label>
          <input type=file name=file>
        </div>
    </div>

    <div class="button-bar">
        <button class="btn btn-success" name="button" value="updateCS" action="submit">Save</button>
        {% if contactSheet %}
          <button class="btn btn-danger" name="button" value="deleteCS" action="submit">Delete</button>
        {% endif %}
    </div>
    </form>
  </div>
</div>

{% endblock %}
