{% extends "base.html" %}

{% block content %}

  {% include 'film/film_details.html' %}

  <div class="card">
    <table class="table table-striped-by-two table-bordered" id="exposures">
      <tr>
        <th>Number</th>
        <th>Type</th>
        <th>Size</th>
        <th>Paper</th>
        <th>Contrast Filter</th>
        <th>Aperture</th>
        <th>Head Height</th>
        <th>Exposure Time</th>
      </tr>
      {% for print in prints %}
        <tr>
          <td>{{ print.exposureNumber }}</td>
          <td>{{ print.printType }}</td>
          <td>{{ print.size }}</td>
          <td>{{ print.paperbrand }} {{ print.paperName }}</td>
          <td>{{ print.paperFilterName }}</td>
          <td>{{ print.aperture }}</td>
          <td>{{ print.headHeight }}</td>
          <td>{{ print.exposureTime }}</td>

          <td class="text-right">

            <form role="form" class="form-horizontal"
              action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints"
              method="POST">
              <button name="button" value="deletePrint" action="submit" class="btn btn-xs btn-danger">Delete</button>
              <input type="hidden" name="printID" value="{{ print.printID }}" >
            </form>
          </td>
        </tr>
        <tr>
          {% if print.notes %}
            <td colspan="6">{{ print.notes }}</td>
          {% else %}
            <td colspan="6">&nbsp;</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
</div>


<div class="card">
  <div class="card-header">Add Print</div>
  <div class="card-body">
    <form role="form" class="form-horizontal"
      action="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints"
      method="POST">
      <div class="form-group row">
        <div class="col-sm-2">
          <label>Exposure #</label>
          <input type="text" class="form-control" placeholder="Exposure #" name="exposureNumber" aria-describedby="Exposure Number">
        </div>
        <div class="col-sm-6">
          <label>Paper</label>
          <select class="form-control" name="paperID">
              <option value=''>Select Paper</option>
              {% for paper in papers %}
                <option value="{{ paper.paperID }}">{{ paper.brandName }} {{ paper.paperName }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-sm-2">
          <label>Filters</label><br />
          <select class="form-control" name="paperFilterID">
              <option value=''>Select Filter</option>
              {% for filter in filters %}
                <option value="{{ filter.paperFilterID }}">{{ filter.name }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-sm-2">
          <label>Type</label><br />
          <select class="form-control" name="printType">
              <option value="Enlargement">Enlargement</option>
              <option value="Contact">Contact</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <label>Size</label>
          <select class="form-control" name="size">
              <option value="4x5">4x5</option>
              <option value="5x7">5x7</option>
              <option value="8x10">8x10</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label>Aperture</label>
          <input class="form-control" type="text" name="aperture" placeholder="2.8">
        </div>
        <div class="col-sm-3">
          <label>Head Height</label>
          <input class="form-control" type="text" name="headHeight" placeholder="30">
        </div>
        <div class="col-sm-3">
          <label>Exposure Time</label>
          <input class="form-control" type="text" name="exposureTime" placeholder="0:30">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <label>Notes</label><br />
          <textarea type="text" class="form-control" placeholder="Notes" name="notes" aria-describedby="Notes"></textarea>
        </div>
      </div>
      <div class="button-bar">
        <button class="btn btn-success" name="button" value="addPrint" action="submit">Add</button>
      </div>
    </div>
  </form>

  </div>
</div>

{% if film.notes %}
<div class="card">
  <div class="card-header">Notes</div>
  <div class="filmNotes">
    {{ film.notes }}
  </div>
</div>
{% endif %}

{% endblock %}
