h1{
  font-size: 2.5em;
}

body{
  /* Moving over a bit so there's room for punching holes in the paper */
  margin-left: 20px;
}

@media print {

  #task-summary .success td {
    background-color: #DFF0D7 !important;

    /* add this line for better support in chrome */
    -webkit-print-color-adjust:exact;
  }
}


/* Chrome hack to print background shades for the tables */
body, span, div, table, tr, tbody, tfoot, td, hr {
    -webkit-print-color-adjust: exact;
}

.print{
  font-size: 11px;
}

.page-header {
  padding-bottom: 3px;
  margin: 0px 0 20px;
  border-bottom: 1px solid #eee;
}

.panel-heading{
  padding: 2px;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0px;
  margin: 0px;
  padding-left: 4px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9 !important;
}
