{% extends "print.html" %}

{% block content %}

  {% include 'film/film_details.html' %}

  {% if exposures %}
  <div class="cardt">
    <div class="card-header"><strong>Exposures</strong></div>
    <table class="table table-striped-by-two table-bordered table-condensed" id="exposures">
      <tr>
        <th>Number</th>
        <th>Shutter</th>
        <th>Aperture</th>
        <th>Lens</th>
        <th>Metering</th>
        <th>Flash</th>
        <th>Filters</th>
      </tr>
      {% for exposure in exposures %}
        <tr>
          <td>{{ exposure.exposureNumber }}</td>
          {# If shutter is larger than 0, consider it to be faster than 1 second
             (e.g. 1/125). If it's zero, consider it a Bulb where the exact
             speed is not known. If it's negative, the exposure is in seconds.
          #}
          <td>
            {% if exposure.shutter > 0 %}
              1/{{ exposure.shutter }}
            {% elif exposure.shutter == 0 %}
              B
            {% elif exposure.shutter %}
              {{ exposure.shutter|abs }}"
            {% endif %}
          </td>
          <td>
            {% if exposure.aperture %}
              {{ exposure.aperture }}
            {% endif %}
          </td>
          <td>
            {% if exposure.lens %}
              {{ exposure.lens }}
            {% endif %}
          </td>
          <td>
            {% if exposure.metering %}
              {{ exposure.metering }}
            {% endif %}
          </td>
          <td>
            {% if exposure.flash == 'No' %}
              -
            {% else %}
              &#x2713;
            {% endif %}
          </td>
          <td>
            {% for filter in exposure.filters %}
              {{ filter.code }}
            {% endfor %}
          </td>
        </tr>
        <tr>
          {% if exposure.notes %}
            <td colspan="6">{{ exposure.notes }}</td>
          {% else %}
            <td colspan="6">&nbsp;</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
</div>
{% endif %}

{% if film.notes %}
<div class="cardt">
  <div class="card-header">Notes</div>
  <div class="filmNotes">
    {{ film.notes }}
  </div>
</div>
{% endif %}

{% endblock %}
