{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>
    {{ film.title }} <small>{{ film.project }}</small>
  </h1>
</div>

<div class="card">
  <div class="card-header"><strong>Edit Roll/Film</strong></div>
  <div class="card-body">
    {% include 'form_errors.html' %}
    <form role="form" class="form-horizontal"
      aaction="/binders/{{ binderID }}/projects/{{ projectID }}/films/{{ film.filmID }}"
      method="POST">
      {% include 'film/edit-film-form.html' %}
      <div class="button-bar">
          <button class="btn btn-success" name="button" value="editFilm" action="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
