{{ form.csrf_token }}
<div class="form-group row">
  <div class="col-sm-4">
    {{ form.title.label }}
    {{ form.title(class="form-control", placeholder="My Film Roll") }}
  </div>
  <div class="col-sm-4">
    {{ form.fileNo.label }}
    {{ form.fileNo(class="form-control", placeholder="BW1") }}
  </div>
  <div class="col-sm-4">
    {{ form.fileDate.label }}
    {{ form.fileDate(class="form-control", placeholder="YYYY-MM-DD") }}
    <small id="fileDateHelp" class="form-text text-muted">Leave blank to use today</small>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-4">
    {{ form.filmTypeID.label }}
    {{ form.filmTypeID(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.shotISO.label }}
    {{ form.shotISO(class="form-control", placeholder="400") }}
  </div>
  <div class="col-sm-4">
    {{ form.cameraID.label }}
    {{ form.cameraID(class="form-control") }}
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-4">
    {{ form.loaded.label }}
    {{ form.loaded(class="form-control", placeholder="YYYY-MM-DD") }}
  </div>
  <div class="col-sm-4">
    {{ form.unloaded.label }}
    {{ form.unloaded(class="form-control", placeholder="YYYY-MM-DD") }}
  </div>
  <div class="col-sm-4">
    {{ form.developed.label }}
    {{ form.developed(class="form-control", placeholder="YYYY-MM-DD") }}
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
    {{ form.development.label }}
    {{ form.development(class="form-control", placeholder="ID-11 at 20C for 20 minutes") }}
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
      {{ form.notes.label }}
      {{ form.notes(class="form-control", placeholder="My notes") }}
  </div>
</div>
