
<div class="page-header">
  <h1>
    <span id="title"></span> <small class="text-muted"><span id="projectName"></span></small>
    {% if not print_view %}
      <a href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}?edit=true">
        <button type="button" class="btn btn-primary btn-sm">Edit</button>
      </a>
      <a href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}?print=true">
        <button type="button" class="btn btn-light btn-sm">Print</button>
      </a>
    {% endif %}
  </h1>
</div>

<div class="card border-0">
  <div class="card-header border-0">Overview</div>
  <div class="card-body">
    <div class="row border-bottom py-2">
      <div class="col-md-2"><strong>File No</strong></div>
      <div class="col-md-2"><span id="file_no"></span></div>
      <div class="col-md-2"><strong>File Date</strong></div>
      <div class="col-md-2"><span id="file_date"></span></div>
      <div class="col-md-2"><strong>Camera</strong></div>
      <div class="col-md-2"><span id="camera"></span></div>
    </div>

    <div class="row border-bottom py-2" id="divFilmType">
      <div class="col-md-2"><strong>Size</strong></div>
      <div class="col-md-2"><span id="filmSize"></div>
      <div class="col-md-2"><strong>Film</strong></div>
      <div class="col-md-2"><span id="filmType"></span></div>
      <div class="col-md-2"><strong>ISO</strong></div>
      <div class="col-md-2"><span id="filmISO"></div>
    </div>

    <div class="row border-bottom py-2" id="divFilmDates">
      <div class="col-md-2"><strong>Loaded</strong></div>
      <div class="col-md-2"><span id="loaded"></span></div>
      <div class="col-md-2"><strong>Unloaded</strong></div>
      <div class="col-md-2"><span id="unloaded"></span></div>
      <div class="col-md-2"><strong>Developed</strong></div>
      <div class="col-md-2"><span id="developed"></span></div>
    </div>

    <div class="row border-bottom py-2" id="divDevelopment">
      <div class="col-md-2"><strong>Development</strong></div>
      <div class="col-md-10"><span id="development"></span></div>
    </div>
  </div>
</div>
<br />
<br />

<div>
  {% if not print_view %}
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link {% if view =='exposures' %} active {% endif %} " href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}">Exposures</a></li>
      <li class="nav-item"><a class="nav-link {% if view == 'prints' %} active {% endif %}" href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/prints">Prints</a></li>
      <li class="nav-item"><a class="nav-link {% if view == 'contactsheet' %} active {% endif %}" href="/binders/{{ binderID }}/projects/{{ film.projectID }}/films/{{ film.filmID }}/contactsheet">Contact Sheet</a></li>
    </ul>
  {% endif %}
</div>
