<!DOCTYPE html>
<html lang="en">
<head>
<title>The Film Log</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="/static/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" media="all">
<link href="/static/style.css" rel="stylesheet" media="all">
</head>

{% block body %}
<body>
  {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            {% if current_user.is_authenticated %}
              <li class="nav-item"><a class="nav-link"href="/binders">Binders</a></li>
              {% if binderID %}
                <li class="nav-item"><a class="nav-link"href="/binders/{{ binderID }}/projects">Projects</a></li>
              {% endif %}
              <li class="nav-item"><a class="nav-link"href="/gear">Gear</a></li>
              <li class="nav-item"><a class="nav-link"href="/filmtypes">Films</a></li>
              <li class="nav-item"><a class="nav-link"href="/filmstock">Film Stock</a></li>
              <li class="nav-item"><a class="nav-link"href="/stats">Stats</a></li>
              <li class="nav-item"><a class="nav-link"href="/logout">Logout</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  {% endblock %}

  {% block container %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 main">
        <div id="content">
          <br />
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <script src="/static/jquery-3.3.1.min.js"></script>
  <script src="/static/popper.min.js"></script>
  <script src="/static/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
{% endblock %}
