<!DOCTYPE html>
<html>
<head>
<title>The Film Log</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all">
<link href="/static/style.css" rel="stylesheet" media="all">
</head>

{% block body %}
<body>
  {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="/binders">Binders</a></li>
            {% if binderID %}
              <li class="active"><a href="/binders/{{ binderID }}/projects">Projects</a></li>
            {% endif %}
            <li class="active"><a href="/cameras">Cameras</a></li>
            <li class="active"><a href="/lenses">Lenses</a></li>
            <li class="active"><a href="/filters">Filters</a></li>
            <li class="active"><a href="/filmtypes">Films</a></li>
            <li class="active"><a href="/filmstock">Film Stock</a></li>
          </ul>
        </div>
      </div>
    </nav>
  {% endblock %}

  {% block container %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 main">
        <div id="content">
          <br />
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
{% endblock %}
