{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">All Films</h1>
  <table class="table table-striped table-bordered" id="projects">
    <tr>
        <th>Brand</th>
        <th>Name</th>
        <th>ISO</th>
        <th>Kind</th>
    </tr>
    {% for filmtype in filmtypes %}
        <tr>
            <td>{{ filmtype.brand }}</td>
            <td>{{ filmtype.name }}</td>
            <td>{{ filmtype.iso }}</td>
            <td>{{ filmtype.kind }}</td>
        </tr>
    {% else %}
      <tr><td colspan="4">No Films Found</td></tr>
    {% endfor %}
  </table>

{% endblock %}
