{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">Film Stock</h1>

  <table class="table table-striped table-bordered" id="binders">
    <tr>
        <th>Film</th>
        <th>ISO</th>
        <th>Size</th>
        <th>Qty</th>
        <th></th>
    </tr>
    {% for film in stock %}
        <tr>
          <td>{{ film.brand }} {{ film.type }}</td>
          <td>{{ film.iso }}</td>
          <td>{{ film.filmSize }}</td>
          <td>{{ film.qty }}</td>
          <td class="text-right">
            <form role="form" class="form-horizontal"
              action="/filmstock"
              method="POST">
              <button name="button" value="increment" action="submit" class="btn btn-xs btn-primary">Increment</button>
              <button name="button" value="decrement" action="submit" class="btn btn-xs btn-danger">Decrement</button>
              <input type="hidden" name="filmTypeID" value="{{ film.filmTypeID }}" >
              <input type="hidden" name="filmSize" value="{{ film.filmSize }}" >
            </form>
          </td>
        </tr>
    {% else %}
      <tr><td colspan="3">No Films Found</td></tr>
    {% endfor %}

  </table>

  <div class="panel panel-primary">
    <div class="panel-heading">Add Filmstock</div>
    <div class="panel-body">
      <form role="form" class="form-horizontal"
        action="/filmstock"
        method="POST">
        <div class="form-group">
          <div class="col-sm-4">
            <label>Films</label>
            <select class="form-control" name="filmTypeID">
                {% for film in films %}
                  <option value="{{ film.filmTypeID }}">{{ film.brand }} {{ film.type }} {{ film.iso }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-sm-2">
            <label>Size</label>
            <select class="form-control" name="filmSize">
                <option value="35mm 24">35mm 24</option>
                <option value="35mm 36">35mm 36</option>
                <option value="35mm 100' Bulk Roll">35m 100' Bulk Roll</option>
                <option value="120">120</option>
                <option value="220">220</option>
                <option value="4x5">4x5</option>
                <option value="8x10">8x10</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label>Qty</label>
            <input type="text" class="form-control" placeholder="" name="qty" aria-describedby="Quantity">
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" name="button" value="add" action="submit" >Add</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
