{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">Projects From {{ binder.name }}</h1>

  <table class="table table-striped table-bordered" id="projects">
    <tr>
        <th>Name</th>
        <th>Rolls / Sheets</th>
        <th>Created On</th>
    </tr>
    {% for project in projects %}
        <tr>
          <td><a href="/binders/{{ binder.binderID }}/projects/{{ project.projectID}}">{{ project.name }}</a></td>
          <td>{{ project.filmCount }}</td>
          <td>{{ project.createdOn }}</td>
        </tr>
    {% else %}
      <tr><td colspan="5">No Projects Found</td></tr>
    {% endfor %}
  </table>

  <div class="card">
    <div class="card-header">Add Project</div>
    <div class="card-body">
      <form role="form" class="form-horizontal"
        action="/binders/{{ binder.binderID }}/projects"
        method="POST">
        <div class="form-group">
          <div class="col-sm-6">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="My Project" name="name" aria-describedby="Name">
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" action="submit">Save</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
