{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">{{ project.name }}</h1>

  <h3>Rolls / Films</h3>
  <div class="card">
    <table class="table table-striped table-bordered" id="films">
      <tr>
          <th>Name</th>
          <th>File No.</th>
          <th>Exposures</th>
          <th>Camera</th>
          <th>Film</th>
          <th>File Date</th>
      </tr>
      {% for film in films %}
          <tr>
              <td><a href="/binders/{{ binderID }}/projects/{{ project.projectID }}/films/{{ film.filmID }}">{{ film.title }}</a></td>
              <td>{{ film.fileNo }}</td>
              <td>{{ film.exposures }}</td>
              <td>{{ film.camera }}</td>
              <td>{{ film.brand }} {{ film.filmName }} at {{ film.iso }}</td>
              <td>{{ film.fileDate|to_date }}</td>
          </tr>
      {% endfor %}
    </table>
  </div>

  <div class="card">
    <div class="card-header">Add Roll/Film</div>
    <div class="card-body">
      <form role="form" class="form-horizontal"
        action="/binders/{{ binderID }}/projects/{{ project.projectID }}"
        method="POST">
        <div class="form-group row">
          <div class="col-sm-4">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="My Film Roll" name="title" aria-describedby="Title">
          </div>
          <div class="col-sm-4">
            <label>File No.</label>
            <input type="text" class="form-control" placeholder="ABC123" name="fileNo" aria-describedby="FileNo">
          </div>
          <div class="col-sm-4">
            <label>File Date</label>
            <input type="text" class="form-control" placeholder="Blank Means Now" name="fileDate" aria-describedby="FileDate">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <label>Film</label>
            <select class="form-control" name="filmType">
                <option value=''>Select Film </option>
                {% for film in filmTypes %}
                  <option value="{{ film.filmTypeID }}">{{ film.brand }} {{ film.name }} {{ film.iso }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-sm-4">
            <label>Shot ISO</label>
            <input type="text" class="form-control" placeholder="100" name="shotISO" aria-describedby="ShotISO">
          </div>
          <div class="col-sm-4">
            <label>Camera</label>
            <select class="form-control" name="camera">
                <option value=''>Select Camera</option>
                {% for camera in cameras %}
                  <option value="{{ camera.cameraID }}">{{ camera.name }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
              <label>Loaded</label>
              <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="loaded" aria-describedby="Loaded On">
          </div>
          <div class="col-sm-4">
              <label>Unloaded</label>
              <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="unloaded" aria-describedby="Unloaded On">
          </div>
          <div class="col-sm-4">
              <label>Developed</label>
              <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="developed" aria-describedby="Developed On">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Development</label>
            <input type="text" class="form-control" placeholder="Explanation on development process" name="development" aria-describedby="Development">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Notes</label><br />
            <textarea name="notes" rows="4" class="form-control"></textarea>
          </div>
        </div>
        <div class="button-bar">
          <button class="btn btn-success" action="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
